/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "NS400";
}

@font-face {
    font-family: NS400;
    src: url(../public/fonts/NunitoSans_10pt-Regular.ttf);
}

@font-face {
    font-family: NS500;
    src: url(../public/fonts/NunitoSans_10pt-Medium.ttf);
}

.container1{
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
}